.entry {
    border: solid #C41E3A 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    margin: 40px;
    background-color: #ffe2e1;
    line-height: 1.6;
    text-align: center;
}


#titlebar {
    position: sticky;
    top: 0px;
    background-color: #9A0000;
    height: 160px;
    background-image: url("seal.gif");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 160px 160px;
}

h1 {
    line-height: 160px;
    height: 160px;
    padding-left: 30px;
    font-family: Trattatello, fantasy;
    font-style: italic;
    color: white;
    animation-duration: 5s;
    animation-name: big-font;
    animation-direction: reverse;
}

.entrytitle {
    color: rgb(99, 0, 0);
    font-family: Impact, fantasy;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.entryheading {
    color: black;
    font-family: Trattatello, fantasy;
    text-align: center;
    text-transform: uppercase;
}

.entrydate {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.entryfooter {
    color:darkred;
    font-family: monospace;
    text-shadow: 2px 2px 5px darkslateblue;
    
}

.memchu {
    float: right;
    border-radius: 50%;
    margin: 20px;
}

.last {
    background-image: url("memchu.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 125px 125px;
}

@keyframes big-font {
    from {
        font-size: 24pt;
    }
    to {
        font-size: 42pt;
    }
}